/* FONTS */
@import url('../fonts/Roboto.ttf');

body {
  font-family: 'Roboto', sans-serif;
}

#all {
  display: none;
}

#roster {
  width: 100%;
}

#hex {
  width: 25rem;
  height: auto;
  min-height: 10rem;

  position: absolute;
  bottom: 5px;
  right: 5px;
}

@media (max-width: 500px) {
  body {
    text-align: center;
  }

  ul {
    text-align: left;
  }
}

#qrcode {
  position: fixed;
  top: 5px;
  right: 5px;
}

.hidden {
  display: none;
}

.buttons {
  display: flex;
}

button.buttons {
  flex: 1 1 auto;
}
