/* FONTS */
@import url('../fonts/Roboto.ttf');

body {
  font-family: 'Roboto', sans-serif;
}

#hex {
  width: 25rem;
  height: auto;
  min-height: 10rem;

  position: absolute;
  bottom: 5px;
  right: 5px;
}

@media (max-width: 440px) {
  #hex {
    display: none;
  }
}

#qrcode {
  position: absolute;
  top: 5px;
  right: 5px;
}
